# comfy

# higher version will fail ltx on macOS
# https://huggingface.co/Lightricks/LTX-Video/discussions/26
torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1

torchsde
einops
transformers
tokenizers>=0.13.3
sentencepiece
safetensors
psutil
spandrel
spandrel_extra_arches

# fastapi
fastapi
uvicorn
python-socketio
pydantic

numpy
pillow
sympy
tqdm
packaging

mpmath
setuptools
scipy
filelock
filetype
urllib3
fsspec
requests
pyyaml
starlette
pydantic
httpx
aiofiles
loguru
psutil

python-box